body {
    background-color: lightsalmon;
    font-family: Patrick hand, sans-serif;
}

/*Textos*/
.letra, .encabezado {
    font-family: Dancing script,sans-serif;
    color: #000000;
}

.letra {
    font-size: 25px;
    font-weight: 400;
}

.encabezado {
    color: #000000;
    font-size: 38px;
    text-shadow: 0.125em 0.25em 0.125em;
    padding: 6.25rem 3.125rem;
}

.aboutme {
    font-size: 45px;
    font-weight: 600;
    text-align: center;
    margin-top: 4px;
}

.text-center {
    font-size: 34px;
}
/*Termino textos*/

/*Carousel*/
#centrado {
    text-align: center;
}

/*Encabezado imagen*/
.encabezado {
    background-image: url('../img/bg-hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}
/*Termino img*/

/*Texto acerca de mi*/
.linea-sub {
    text-align: center;
}

.text-center {
    text-align: center;
}

.acerca-de-mi {
    font-size: 25px;
    font-weight: 600;
}
/*Termino acerca de mi*/

/*Footer*/
footer {
    font-family: Dancing script, sans serif;
}

.nombre {
    font-size: 25px;
}

footer i {
    margin: 0 0.25em 0.5em 0;
  }

  .fab {
    fill: #ffffff;
 }